

body {
    background-color: rgb(50,110,68);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn {
    background-color: rebeccapurple;
}